---
layout: archive
permalink: /publications/
author_profile: true
---

<div>
  You can also find my articles on
  <a href="{{ site.author.googlescholar }}">Google Scholar</a>,
  <a href="{{ site.author.uri }}">Web of Science</a>,
  and
  <a href="{{ site.author.orcid }}">ORCID</a>
</div>

<!-- Journal articles -->
<h2>Journal articles</h2>
<hr>
{% for post in site.publications reversed %}
  {% if post.type == "journal" and post.status == "published" %}
    {% include publication-item.html post=post %}
  {% endif %}
{% endfor %}

<!-- Under review -->
<h2>Under review</h2>
<hr>
{% for post in site.publications reversed %}
  {% if post.status == "under_review" %}
    {% include publication-item.html post=post %}
  {% endif %}
{% endfor %}

<!-- Conference proceedings -->
<h2>Conference proceedings</h2>
<hr>
{% for post in site.publications reversed %}
  {% if post.type == "conference" and post.status == "published" %}
    {% include publication-item.html post=post %}
  {% endif %}
{% endfor %}
