---
layout: archive
permalink: /talks/
author_profile: true
---

{% include base_path %}

<!-- Oral presentations -->
{% assign oral_talks = site.talks | where: "type", "oral" | reverse %}
<h2>Presentations</h2>
<hr class="hr-thick">
{% for post in oral_talks %}
  {% include talk-item.html %}
  {% unless forloop.last %}
    <hr class="hr-thin-gradient">
  {% endunless %}
{% endfor %}

<!-- Posters -->
{% assign posters = site.talks | where: "type", "poster" | reverse %}
<h2>Posters</h2>
<hr class="hr-thick">
{% for post in posters %}
  {% include talk-item.html %}
  {% unless forloop.last %}
    <hr class="hr-thin-gradient">
  {% endunless %}
{% endfor %}
