<div class="publication-item">

  <!-- Title -->
  <div class="pub-title">
    {% if post.doi %}
      <a href="https://doi.org/{{ post.doi }}" target="_blank">
        <strong>{{ post.title }}</strong>
      </a>
    {% else %}
      <strong>{{ post.title }}</strong>
    {% endif %}
  </div>

  <!-- Authors -->
  <div class="pub-authors">
    <i class="fa fa-pencil"></i>
    {{ post.authors | join: ", " }}
  </div>

  <!-- Meta -->
  <div class="pub-meta">
    <i class="fa fa-book"></i>
    {{ post.date | date: "%Y" }} |
    {{ post.venue }}
  </div>

  <!-- Abstract toggle -->
  {% if post.abstract %}
    <details class="pub-abstract">
      <summary>Abstract</summary>
      <p>{{ post.abstract }}</p>
    </details>
  {% endif %}

</div>
