<div class="teaching-item">

  <!-- Title -->
  <div class="teaching-title">
    <strong>{{ post.title }}</strong>
  </div>

  <!-- Date & position -->
  <div class="teaching-meta">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    {{ post.date-start | date: "%B %Y" }}
    -
    {{ post.date-end | date: "%B %Y" }}
    |
    {{ post.position }}
  </div>

  <!-- Department -->
  <div class="teaching-meta">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    {{ post.department}}
  </div>
</div>

