---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* ==================================================
   Custom horizontal rules (academic style)
   ================================================== */

.hr-thick {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 1em 0;
}

.hr-thin {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 0em 0;
}

.hr-fade {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #ddd, transparent);
  margin: 2em 0;
}

.hr-thin-gradient {
  border: 0;
  height: 1px;
  margin: 0em 0;
  background: linear-gradient(to right, #ddd, transparent, transparent);
}

/* ==================================================
   Custom bullets
   ================================================== */
ul.no-bullets {
    list-style: none; /* removes the default bullet */
    padding-left: 0;  /* removes default indentation */
    margin-left: 0;   /* optional: remove left margin */
}

ul.no-bullets li {
    margin-left: 1em; /* optional: spacing between icon and text */
}
